* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}





/*=======================================
            notifications part start
=========================================*/

#notifications {
    padding: 60px 0 15px 0;
}

.not_head h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    text-transform: capitalize;
}


.search_text {
    width: 240px;
    height: 40px;
    border: 1px solid #222;
    padding-left: 5px;
    color: #777;
}

.search_btn i {
    width: 50px;
    height: 40px;
    background: blue;
    text-align: center;
    line-height: 40px;
    color: #fff;
    
}






/*=======================================
            notifications part end
=========================================*/

/*=======================================
            notifications part start
=========================================*/


#notifications2 {
    padding: 15px 0 15px 0;
}

.new_head h3 {
    font-size: 32px;
    font-weight: 400;
    font-family: sans-serif;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.new_all {
    padding: 20px 0;
    background: #f1f1f1;
    border-bottom: 1px solid #fff;
}

.new_all:nth-child(3) {
    border: none;
}

.img {
    position: relative;
}

.img i {
    font-size: 30px;
    position: absolute;
    bottom: -4px;
    right: 44px;
    color: #fff;
    background: red;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.part1 p {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    padding-bottom: 5px;

}

.part2 p span {
    font-size: 24px;
    color: #000;
}

.part2 h5 span {
    font-size: 14px;
    color: #000;
}

.part_3 i {
    font-size: 30px;
    padding-top: 50px;
}


/*=======================================
            notifications part end
=========================================*/



/*=======================================
       customer request part start
=========================================*/

#customer {
    padding: 30px 0;
}

.req_head h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 30px;
}


.all_req {
    padding: 20px 0;
    background: #f1f1f1;
    border-bottom: 1px solid #fff;
    position: relative;
}

.img2 i {
    font-size: 30px;
    position: absolute;
    bottom: 24px;
    right: 59px;
    color: #fff;
    background: blue;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;

}

.req_part p {
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.req_part p span {
    font-size: 32px;
}

.confa a {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 10px 40px;
    background: #d9b257;
    border-radius: 30px;
    margin-top: 10px;
    text-transform: capitalize;


}

.confa2 a {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #222;
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 10px;
    text-transform: capitalize;
    margin-left: 10px;
    background: #fff;

}


.last_see button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    border: none;
    color: #222;
    font-size: 20px;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}

/*=======================================
       customer request part end
=========================================*/





/*=======================================
            notifications part start
=========================================*/

#earlier {
    padding: 30px 0;
}

.ear_head h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.ear_all {
    padding: 20px 0;
    background: #f1f1f1;
    border-bottom: 1px solid #fff;
    position: relative;
}


.img3 i {
    font-size: 30px;
    position: absolute;
    bottom: -6px;
    right: 59px;
    color: #fff;
    background: blue;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;

}








/*=======================================
            notifications part end
=========================================*/

