    /*
    Flaticon icon font: Flaticon
    Creation date: 13/12/2019 11:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-group:before { content: "\f100"; }
.flaticon-advertisement:before { content: "\f101"; }
.flaticon-notification:before { content: "\f102"; }
.flaticon-school-bus:before { content: "\f103"; }
.flaticon-mansion:before { content: "\f104"; }
.flaticon-condominium:before { content: "\f105"; }
.flaticon-building:before { content: "\f106"; }
.flaticon-food-stall:before { content: "\f107"; }
.flaticon-furniture-and-household:before { content: "\f108"; }
.flaticon-garage:before { content: "\f109"; }
.flaticon-right-arrow:before { content: "\f10a"; }
.flaticon-back:before { content: "\f10b"; }
.flaticon-down-chevron:before { content: "\f10c"; }
.flaticon-cancel:before { content: "\f10d"; }
.flaticon-heart:before { content: "\f10e"; }
.flaticon-respect:before { content: "\f10f"; }
.flaticon-wedding-arch:before { content: "\f110"; }
.flaticon-home:before { content: "\f111"; }
.flaticon-van:before { content: "\f112"; }
.flaticon-ambulance:before { content: "\f113"; }
.flaticon-ambulance-1:before { content: "\f114"; }
.flaticon-helicopter:before { content: "\f115"; }
.flaticon-aircraft:before { content: "\f116"; }
.flaticon-smart-farm:before { content: "\f117"; }
.flaticon-apartment:before { content: "\f118"; }
.flaticon-apartment-1:before { content: "\f119"; }
.flaticon-truck:before { content: "\f11a"; }
.flaticon-truck-1:before { content: "\f11b"; }
.flaticon-placeholder:before { content: "\f11c"; }
.flaticon-pin:before { content: "\f11d"; }
.flaticon-pin-1:before { content: "\f11e"; }
.flaticon-transport:before { content: "\f11f"; }
.flaticon-bus:before { content: "\f120"; }
.flaticon-transportation:before { content: "\f121"; }
.flaticon-car-1:before { content: "\f122"; }
.flaticon-user:before { content: "\f123"; }
.flaticon-calendar:before { content: "\f124"; }
.flaticon-calendar-1:before { content: "\f125"; }
.flaticon-taka:before { content: "\f126"; }
.flaticon-worldwide:before { content: "\f127"; }
.flaticon-coin:before { content: "\f128"; }
.flaticon-edit:before { content: "\f129"; }
.flaticon-right-chevron:before { content: "\f12a"; }
.flaticon-checkmark:before { content: "\f12b"; }
.flaticon-verified:before { content: "\f12c"; }
.flaticon-check-mark:before { content: "\f12d"; }
.flaticon-left-chevron:before { content: "\f12e"; }
.flaticon-share:before { content: "\f12f"; }
.flaticon-star:before { content: "\f130"; }
.flaticon-clock:before { content: "\f131"; }
.flaticon-search:before { content: "\f132"; }
.flaticon-menu:before { content: "\f133"; }
.flaticon-office-building:before { content: "\f134"; }
.flaticon-fork:before { content: "\f135"; }
    
    $font-Flaticon-group: "\f100";
    $font-Flaticon-advertisement: "\f101";
    $font-Flaticon-notification: "\f102";
    $font-Flaticon-school-bus: "\f103";
    $font-Flaticon-mansion: "\f104";
    $font-Flaticon-condominium: "\f105";
    $font-Flaticon-building: "\f106";
    $font-Flaticon-food-stall: "\f107";
    $font-Flaticon-furniture-and-household: "\f108";
    $font-Flaticon-garage: "\f109";
    $font-Flaticon-right-arrow: "\f10a";
    $font-Flaticon-back: "\f10b";
    $font-Flaticon-down-chevron: "\f10c";
    $font-Flaticon-cancel: "\f10d";
    $font-Flaticon-heart: "\f10e";
    $font-Flaticon-respect: "\f10f";
    $font-Flaticon-wedding-arch: "\f110";
    $font-Flaticon-home: "\f111";
    $font-Flaticon-van: "\f112";
    $font-Flaticon-ambulance: "\f113";
    $font-Flaticon-ambulance-1: "\f114";
    $font-Flaticon-helicopter: "\f115";
    $font-Flaticon-aircraft: "\f116";
    $font-Flaticon-smart-farm: "\f117";
    $font-Flaticon-apartment: "\f118";
    $font-Flaticon-apartment-1: "\f119";
    $font-Flaticon-truck: "\f11a";
    $font-Flaticon-truck-1: "\f11b";
    $font-Flaticon-placeholder: "\f11c";
    $font-Flaticon-pin: "\f11d";
    $font-Flaticon-pin-1: "\f11e";
    $font-Flaticon-transport: "\f11f";
    $font-Flaticon-bus: "\f120";
    $font-Flaticon-transportation: "\f121";
    $font-Flaticon-car-1: "\f122";
    $font-Flaticon-user: "\f123";
    $font-Flaticon-calendar: "\f124";
    $font-Flaticon-calendar-1: "\f125";
    $font-Flaticon-taka: "\f126";
    $font-Flaticon-worldwide: "\f127";
    $font-Flaticon-coin: "\f128";
    $font-Flaticon-edit: "\f129";
    $font-Flaticon-right-chevron: "\f12a";
    $font-Flaticon-checkmark: "\f12b";
    $font-Flaticon-verified: "\f12c";
    $font-Flaticon-check-mark: "\f12d";
    $font-Flaticon-left-chevron: "\f12e";
    $font-Flaticon-share: "\f12f";
    $font-Flaticon-star: "\f130";
    $font-Flaticon-clock: "\f131";
    $font-Flaticon-search: "\f132";
    $font-Flaticon-menu: "\f133";
    $font-Flaticon-office-building: "\f134";
    $font-Flaticon-fork: "\f135";